.app__name,
.app__search {
  text-align: center;
}

.app__name {
  font-family: 'Satisfy', sans-serif;
}

.app__search {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.app__input {
  text-align: center;
  margin-right: 10px;
  position: relative;

  input {
    width: 400px;
    height: 40px;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #19a37e;
    padding: 3px 20px 3px 42px;
    color: #0a8088;

    @media only screen and (max-width: 550px) {
      width: 300px;
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 550px) {
    margin-right: 0;
  }
}


.footer {
  text-align: center;
  margin: 20px;
}

.footer__link {
  text-decoration: none;
  color: #b41c14;
}
